body {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(34, 97, 118);
    color: aliceblue;
    padding: 12px;
    font-size: 20px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.navbar ul li {
    display: inline;
    margin: 0 50px;

}

.navbar ul li a {
    color: yellowgreen;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 20px;
}

.head {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(195, 246, 8);
    font-weight: bolder;
    font-size: 30px;
}

.container {
    align-items: center;
    text-align: center;
    width: 520px;
    margin-left: 33%;
    margin-top: 50px;
    padding: 10px;
    border-radius: 20px; 
    border-style:double;

}

.heading {
    text-align: center;
    width: 520px;
    margin-left: 33%;
    margin-top: 8px;
    margin-bottom: 0%;
    padding: 10px;
}

.line {
    border-top: 5px solid brown;
    margin: 10px 0;
}

button {
    width: 90px;
    padding: 10px;
    margin-top: 5px;
    background-color:darkslategray;
    font-size: 16px;
    font-weight: bolder;
    color: goldenrod;
    border: none;
    cursor: pointer;
}

input {
    width: 500px;
    padding: 10px;
    font-size: 20px;
    outline: none;
}

.text ul, label, .about-text {
    color: rgb(37, 20, 5);
    position: relative;
    font-size: 20px;
    padding: 7px;
    text-align: left;
    font-weight: bolder;
 }

.text ul button{
    position: static;
    right: 15px;
    cursor: pointer;
 }

 table, th, tr {
    text-align: center;
    border-radius: 10px;
    border-color:brown;
	border-collapse: separate;
    font-size: 30px;
    font-weight: bolder;
    width: 520px;

}

h1 {
    color: rgb(195, 246, 8);
    font-size: 30px;
    text-align: center;
}

.date-style {
    color: #555; 
    font-size: 15px; 
    font-style: italic; 
}



.copyright {
	color: rgb(255, 255, 255);
	font-family: "Courier New", Courier, monospace;
	font-size: 15px;
    margin-top: 500px;
}



